{% extends "base.html" %}

{% block content %}
{% if request.user.is_authenticated %}

<div class="container mt-4">
    <h1 class="text-center">Welcome to Our Home Page! You are logged in successfully.</h1>
    <!-- <button onclick="window.location.href='/recipe/add/'">Create New Recipe</button>  -->
    <ul>
        {% for resource_listing in resource_listings %}
        <li><a href="{{ resource_listing.get_absolute_url }}">{{ resource_listing.name }}</a></li>
        {% endfor %}
    </ul>  
  
{% else %}
<div class="login-prompt">
    <div class="text-center">
        <h2>Welcome!</h2>
        <p>Please sign in or sign up to continue.</p>
        <div class="mt-4">
            <a href="/signIn" class="btn btn-primary mr-2">Sign In</a>
            <a href="/signUp" class="btn btn-success">Sign Up</a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}